<div id="page">
	<div id="content">
		<h2><b> Our Mission </b></h2>
		<h3><p> To kindle the curiosity and imagination of our children
		in the fields of Science, Technology, Engineering and Math,
		empowering them to design and create. </p></h3>
		
		
		<h2> <b> Our Approach </b> </h2> 
		<h3><p> We address the STEM achievement gap in our children with a Design-based approach to learning – </p>
				
		<p>
			<li>	Our learning process encourages questioning, introspection in children and inculcates an understanding that with persistence and perseverance they can make their imaginations come true…</li></br>
			<li>	Our professionally developed programs are interdisciplinary in nature and help children take pleasure in finding things and figuring things out… </li></br>
			<li>	Our unique hands-on, minds-on activities challenge, motivate and nudge children to go beyond understanding concepts through experience, to exploring concepts through questioning and experimentation… </li></br>
			<li>Our every endeavour focuses on empowering children with the courage to learn and transfer their learning to new situations..</li></br>
				<li>Our activities focus on building and enhancing problem solving, critical thinking, logical reasoning and communication and collaboration skills in children.. </li>
		
		</h3>
		
		
		

	</div>
	
		
		
			<div id="sidebar">
				<div id="tbox1">
				<img src= "/assets/einstein2.jpeg" width= 340px; height= 220px;/>
					<ul class="style2">
							


					</ul>
				</div>
			</div>
		</div>
			
				<div id="three-column">
					<div id="tbox1">
						<h2>Founder</h2>
						<p>Bhuvana is a EEE graduate from College of Engineering, Guindy. She is an university rankholder, an MBA (Systems & Finance) felicitated by Hon. Dr. A P J Abdul Kalam. For over 4 years now, she has been designing and running Science Camps and Workshops at various locations in Chennai. She has conducted ‘Higher Order Learning’ modules at a reputed IB school in Chennai. She is also a SUN certified Java programmer and a Ruby on Rails Enthusiast.
						



							</p>
						
					</div>
					<div id="tbox2">
						<h2>Technical Advisor </h2>
							<p><a href ="http://www.kunday.com" >Arvind Kunday</a> is a MSc Software Engineer from the presitigious Coimbatore	Institute of Technology. He is  the senior consultant at a MNC in  MelBourne, Australia. He is a technology enthusiast with skills in Ruby and Haskell. He is very keen in putting his skills to make a difference in the way the children learn today. 



								</p>
					
					</div>
					<div id="tbox3">
						<h2>Follow us on</h2>
						<ul class="style1">
							<li class="first"><a href="http://www.youtube.com/thinkdiffskool"><img src="/assets/yt.jpeg" width = "40" height ="35"/></a></li>
							<li><a href="https://www.facebook.com/thinkdiffskool" ><img src="/assets/fb.jpeg" width = "40" height ="35"/></a></li>
						

						</ul>
					</div>
				</div>
				
			</div>