<div id="page">
		<div id="content">
	<p> <h3>  We motivate our students to be creative and give them opportunities showcase their skills. Our students' projects and creations get published in our blog.
		
		</br>
		</br>
		 To visit our blog,  <a href="http://thinkdiffskool.tumblr.com">click here </a> </h3>
</br>
</br>

</br>
</br>
	
</br>	</br>	</br>	</br>	</br>	</br>	</br>	</br>	</br>	</br>	</br>
	</div></br>

	</div>
	