<div id="page">
		<h3 >For more information on our Tech and Science camps, contact us</h3>
		</br>
		
		<p>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Mobile :+91 80561 00293</p>
	</br>
	
		<p>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Email : bhuvana.ka@thinkdiffskool.com</p>
		</br>
		
		</br>
		
		</br>
		
		</br>
		
		</br>
		
		</br>
	
		
		
		
	



