<div id="page">
		<div id="content">
			<p> <b><h2> CONTACT US </h2></b>
				<h3>To find out more about our programs or to register for the programs please contact us </p> </h3>
			<p>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Mobile :<b>+91 80561 00293</p></b>

			<p>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Email :<b> bhuvana.ka@thinkdiffskool.com</p></b>
			
			</div>
				<div id="sidebar">
					<div id="tbox1">	</br><h2 ><b>Our Location </b></h2>
					<h3><b> ThinkDiff S'Kool </h3></b>
					<p> 450/1, Lakshmanaswamy Salai, K K Nagar, Chennai - 78</p> <iframe width="350" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps/ms?msa=0&amp;msid=215218201193412962257.0004e32e9ecb517bc6ab6&amp;ie=UTF8&amp;t=m&amp;ll=13.038488,80.201161&amp;spn=0,0&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.co.in/maps/ms?msa=0&amp;msid=215218201193412962257.0004e32e9ecb517bc6ab6&amp;ie=UTF8&amp;t=m&amp;ll=13.038488,80.201161&amp;spn=0,0&amp;source=embed" style="color:#0000FF;text-align:left">ThinkDiff S'Kool</a> in a larger map</small></br>

						<ul class="style2">



						</ul>
					</div>
				</div>
			</div>
			
			
				
		
		
		</br>
		
		
	
		
		</br>
		
		</br>
		
		</br>
		
		</br>
		
		</br>
	
		
		
		
	



