<div id="page">

	<div class="cleaner"></div>





 



<div class="post_box float_l">
    <p class="post_meta"></p>

    <div class="image_fl"><span></span><img src="/assets/funtronics.png" width="150" height="150" alt="Image" /></div>
    <h3> <a href="/pages/flyer">Fun'Tronics'</a></h3> 
    <p> Fun’tronics is a hobby electronics camp aiming to acquaint children with everyday electronic gadgets that fascinate them. We will explore the basics of electronics constructing simple circuits using resistors, capacitors etc. With a little bit of ingenuity children will work together to design and build security system, automated street light, fire alarm, to name a few. Our hands-on and interactive approach to learning allows them to feel, experience and understand the underlying concepts comprehensively.
			<ul >
					<li > Ages: 10 + years </li>
					<li> Duration: 3 months</li>
					<li> When: Saturdays </li>
					
					</ul> <a href="/pages/flyer">For brochure, please click here.</a></p>
</div>
<div class="cleaner"></div>
</div>