<div id="page"><div id="services" class="content_top"></div>
<div class="content_box">
	<div class="content_title content_services"></div>
	
		<p> <h3> PHOTOS </h3>
			<p> <h3>  View all our photos @ <a href="https://picasaweb.google.com/lh/myphotos"> https://picasaweb.google.com/lh/myphotos</a> </h3>
			
			

	</br>
	
		<p> <h3> VIDEOS </h3>
		

		
		
			<p> <h3>  View all our videos @ <a href="http://www.youtube.com/thinkdiffskool">http://www.youtube.com/thinkdiffskool </a> </h3>
		</br>
		
		</br>
		
		</br>

</div>
</div>