<div id="page">
	

	
	
	
		<p> <h3><b> PHOTOS</b> </h3>
			<p> <h3>  View all our photos @ <a href="https://picasaweb.google.com/118189999662862252212">	https://picasaweb.google.com/118189999662862252212
			 </a>
				</br></br></br>
				<embed type="application/x-shockwave-flash" src="https://static.googleusercontent.com/external_content/picasaweb.googleusercontent.com/slideshow.swf" width="450" height="250" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F118189999662862252212%3Falt%3Drss%26kind%3Dphoto%26access%3Dpublic%26psc%3DF%26q%26uname%3D118189999662862252212" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
			 </h3>
			
			

	</br>
	
	
		
		<p> <h3><b> VIDEOS </b></h3>
		

		
		
			<p> <h3>  View all our videos @ <a href="http://www.youtube.com/thinkdiffskool">http://www.youtube.com/thinkdiffskool </a> </h3>
		</br>
		
		</br>
		
		</br>

</div>
</div>