<div id="page">


	
	<h3> <a href="/pages/flyer"> De'Light - Little Thinkers - Science workshop </a> </h3>
	
	
	
		<div class="cleaner"></div>

        <div class="post_box float_l">
            <div class="image_fl"><span></span><img src="/assets/light.png"  width="150" height="150" alt="Image" /></div>
            <p class="post_meta"></p>
          
            
            <p>This workshop on light will let our ‘little thinkers’ to explore the concepts related to light.
			They will be fascinated learning about light waves, colour formation and shadows. The children will get a chance to design and build simple objects like mirror, kaleidoscope etc. Activities on reflection and refraction of light will provide an opportunity for serious learning in a fun-filled manner. Experiments on laser and chromatography will bring about lively interactions and stimulate imagination.
			
			
					<ul >
							<li > Ages :7 to 10 years</li>
							<li > Duration : 3 months</li>
							<li> When: Saturdays</li>
						
							</ul> 
							
							
	
	
	</div>
	
	<div class="cleaner"></div>