

<div id="page">
	<div class="cleaner"></div>

    <div class="post_box float_l">
           <div class="image_fl"><span></span><img src="/assets/programming.png" width="150" height="130" alt="Image" /></div>
          <p class="post_meta"></p>
          <h3> <a href="/pages/programming"> Introduction to programming (Level 1)</a> </h3>
            <p> This introduction to basic programming workshop gives young minds the freedom to let their imagination fly and the skills to see their ideas translated into virtual reality. It uses a design-based learning approach to support children’s development of computational thinking through explorations with Scratch.
					<ul >
							<li > Ages : 9 - 12 years</li>
							<li> Duration : 3 months</li>
							<li> When: Saturdays </li>
								</ul> <a href="/pages/programming">For brochure, please click here.</a>
							</p>
            <div class="cleaner"></div>
  </div>

<div class="cleaner"></div>
</div>
