<div id="page">
		<div id="content">
 		
                <h2>Our STEM workshops for kids</h2>
                
                
                <p>ThinkDiff S'kool presents the following workshops for kids aged 7 - 16 years. </p>
         </br>


						<div class="cleaner"></div>

		                <div class="post_box float_l">
		                    <div class="image_fl"><span></span><img src="/assets/light.png"  width="150" height="150" alt="Image" /></div>
		                    <p class="post_meta"></p>
		                  
		                    <h3> <a href="/pages/flyer"> De'Light  - Little Thinkers / Science Workshop </a> </h3>
		                    <p>This workshop on light will let our ‘little thinkers’ to explore the concepts related to light.
							They will be fascinated learning about light waves, colour formation and shadows. The children will get a chance to design and build simple objects like mirror, kaleidoscope etc. Activities on reflection and refraction of light will provide an opportunity for serious learning in a fun-filled manner. Experiments on laser and chromatography will bring about lively interactions and stimulate imagination.
							
									<ul >
											<li > Ages : 7 to 10 years</li>
											<li > Duration : 3 months</li>
											<li> When: Batches during week days and weekends  </li>
											</ul> <a href="/pages/flyer">For brochure, please click here.</a></p>
		                    
		          		</div>   
						<div class="cleaner"></div>

		                <div class="post_box float_l">
			                   <div class="image_fl"><span></span><img src="/assets/programming.png" width="150" height="130" alt="Image" /></div>
			                  <p class="post_meta"></p>
		                      <h3> <a href="/pages/flyer"> Introduction to programming (Level 1)</a> </h3>
			                    <p> This introduction to basic programming workshop gives young minds the freedom to let their imagination fly and the skills to see their ideas translated into virtual reality. It uses a design-based learning approach to support children’s development of computational thinking through explorations with Scratch.
										<ul >
												<li > Ages : 9 - 12 years</li>
												<li> Duration : 3 months</li>
												<li> When: Saturdays </li>
													</ul> <a href="/pages/flyer">For brochure, please click here.</a>
												</p>
			                    <div class="cleaner"></div>
			          </div>

					<div class="cleaner"></div>

			
              
          

                 



                <div class="post_box float_l">
                    <p class="post_meta"></p>

                    <div class="image_fl"><span></span><img src="/assets/funtronics.png" width="150" height="150" alt="Image" /></div>
                    <h3> <a href="/pages/flyer">Fun'Tronics'</a></h3> 
                    <p> Fun’tronics is a hobby electronics camp aiming to acquaint children with everyday electronic gadgets that fascinate them. We will explore the basics of electronics constructing simple circuits using resistors, capacitors etc. With a little bit of ingenuity children will work together to design and build security system, automated street light, fire alarm, to name a few. Our hands-on and interactive approach to learning allows them to feel, experience and understand the underlying concepts comprehensively.
							<ul >
									<li > Ages: 10 + years </li>
									<li> Duration: 3 months</li>
									<li> When: Batches on weekend </li>
									
									</ul> <a href="/pages/flyer">For brochure, please click here.</a></p>
                    <div class="cleaner"></div>
          </div>

			<div class="cleaner"></div>
            
        



</div>
</div>