        <div id="services" class="content_top"></div>
        <div class="content_box">
        	<div class="content_title content_services"></div>
        		
                <h2>Our Programs</h2>
                <div class="cleaner"></div>
                
                <p>This summer Play more on the computer! Well... Have fun on the computer!! This summer, sit at the computer...not playing games, but, creating your own Interactive stories... animations...Doing the actual programming to create them all!</p>
         </br>

         <div class="post_box float_l">
		                  <p class="post_meta"></p>
	                      <h3> Why coding for Kids?</h3>
		                      	<div class="image_wrapper image_fl"><iframe width="300" height="180" src="http://www.youtube.com/embed/nKIu9yen5nc?rel=0" frameborder="0" allowfullscreen></iframe>

								</div>  
		                </div>
						<div class="cleaner"></div>

		                <div class="post_box float_r">
		                    <div class="image_fr"><span></span><img src="/assets/kodu.jpg" width="150" height="100" alt="Image" /></div>
		                    <p class="post_meta"></p>
		                  
		                    <h3>Introduction to Game Design </h3>
		                    <p>This introductory workshop for kids focuses on the development of video games. Learn the basics of what it takes to make a game. Create an executable game that you can share with your friends and family. <a href="/pages/gamedesign">More...</a></p>
		                    
		          		</div>   
						<div class="cleaner"></div>

		                <div class="post_box float_l">
			                   <div class="image_fr"><span></span><img src="/assets/coding.jpeg" width="150" height="100" alt="Image" /></div>
			                  <p class="post_meta"></p>
		                      <h3> Coding for Kids {} </h3>
			                    <p> This introduction to basic programming workshop gives young minds the freedom to let their imagination fly and the skills to see their ideas translated into virtual reality. It uses a design-based learning approach to support children’s development of computational thinking through explorations with Scratch.
								. <a href="/pages/codingforkids">More...</a></p>
			                    <div class="cleaner"></div>
			          </div>

					<div class="cleaner"></div>

			
              
          

                 



                <div class="post_box float_r">
                    <p class="post_meta"></p>
                    <h3>World Scratch Day 2013 !</h3> 
                    <div class="image_fr"><span></span><img src="/assets/scratchdaynew.png" width="150" height="100" alt="Image" /></div>
                    <p>Scratch Day is a worldwide network of gatherings, where people come together to meet other Scratchers, share projects and experiences, and learn more about Scratch. <a href="/pages/scratchday">More...</a></p>
                    <div class="cleaner"></div>
          </div>

			<div class="cleaner"></div>
            
        


