        <div id="services" class="content_top"></div>
        <div class="content_box">
        	<div class="content_title content_services"></div>
        		
                <h2>Our Tech Programs </h2>
                
                
                <p>This summer Play more on the computer! Well... Have fun on the computer!! This summer, sit at the computer...not playing games, but, creating your own Interactive stories... animations...Doing the actual programming to create them all!</p>
         </br>


						<div class="cleaner"></div>

		                <div class="post_box float_l">
		                    <div class="image_fl"><span></span><img src="/assets/coding.jpeg"  width="150" height="100" alt="Image" /></div>
		                    <p class="post_meta"></p>
		                  
		                    <h3> <a href="/pages/codingforkids"> Coding for Kids {} @ K K Nagar</a> </h3>
		                    <p>This introduction to basic programming workshop gives young minds the freedom to let their imagination fly and the skills to see their ideas translated into virtual reality. It uses a design-based learning approach to support children’s development of computational thinking through explorations with Scratch.
									<ul >
											<li > When : May 13th to May 17th, 2013</li>
											<li> Where: Yoyo's, K K Nagar</li>
											<li> Timing: 9:30 AM to 12:00 PM  </li>
											</ul> <a href="/pages/codingforkids">For brochure, please click here.</a></p>
		                    
		          		</div>   
						<div class="cleaner"></div>

		                <div class="post_box float_l">
			                   <div class="image_fl"><span></span><img src="/assets/scratch1.jpeg" width="150" height="100" alt="Image" /></div>
			                  <p class="post_meta"></p>
		                      <h3>  Coding for Kids {} @ Adyar </h3>
			                    <p> This introduction to basic programming workshop gives young minds the freedom to let their imagination fly and the skills to see their ideas translated into virtual reality. It uses a design-based learning approach to support children’s development of computational thinking through explorations with Scratch.
										<ul >
												<li > When : May 20th to May 24th, 2013</li>
												<li> Where: Hippocampus, Indra Nagar, Adyar</li>
												<li> Timing: 10:00 AM to 12: 30 PM </li>
												
												</p>
			                    <div class="cleaner"></div>
			          </div>

					<div class="cleaner"></div>

			
              
          

                 



                <div class="post_box float_l">
                    <p class="post_meta"></p>

                    <div class="image_fl"><span></span><img src="/assets/scratchdaynew.png" width="150" height="100" alt="Image" /></div>
                    <h3> <a href="http://day.scratch.mit.edu/event/737">World Scratch Day 2013 !</a></h3> 
                    <p> Scratch Day is a worldwide network of gatherings, where people come together to meet other Scratchers, share projects and experiences, and learn more about Scratch. There are currently 68 events in 31 countries across the world. ThinkDiff Skool is proud to host Scratch Day in Chennai. Please visit <a href = "http://day.scratch.mit.edu/event/737">  our events page </a> in MIT website.
							<ul >
									<li > When : May 18th, 2013</li>
									<li> Where: Yoyo's, K K Nagar</li>
									<li> Timing: 9:30 AM to 12:00 PM </li>
									
									</ul> <a href="/pages/scratchday">For brochure, please click here.</a></p>
                    <div class="cleaner"></div>
          </div>

			<div class="cleaner"></div>
            
        


