<div id="page">
		<div id="content">
 		
                <h2><i><b>UPCOMING Workshops</b></i></h2>
                
                

	
 <h3> <a href="/pages/spectacularscience"> Spectacular Science - Little Explorers </a> </h3>
						<div class="cleaner"></div>

		                <div class="post_box float_l">
		                    <div class="image_fl"><span></span><img src="/assets/spectacularscience1.jpg"  width="210" height="150" alt="Image" /></div>
		                    <p class="post_meta"></p>
		                  
		                   
		                    <p>This 2 months workshop will provide an opportunity to encourage the development of practical, manipulative and cognitive skills in our kids… Our curriculum is designed to introduce the basic concepts in physics in a fun filled way. Our activities focus on simple experiments exploring fundamental properties of AIR. Children will get introduced to science through building parachutes, balloon powered cars, fiery fountains etc..

							A fun and interesting workshop with hands-on experience.

							
									<ul >
											<li > Ages : 6 to 9 years</li>
											<li > Duration : 2 months</li>
											<li> When: Classes on fridays - 4: 30 to 6 pm </li>
									
											</ul> </p>
											
	 <h4> <a href="/pages/sciencetoymaker">DIY Science Toy Maker One day Workshop </a> </h4>
	
			<div class="cleaner"></div>


<div class="post_box float_l">
								                    
								
								<div class="image_fl"><span></span><img src="/assets/mechtoy.png"  width="200" height="150" alt="Image" /></div>
			                    <p class="post_meta"></p>

							
			<p>				Kids will make their own simple mechanical toys while learning the physical and mechanical principles involving them.

							A fun and interesting workshop with hands-on experience.</br>
							
							

							We assure you there will be a lot of tinkering around!!

			

															<ul >
																	<li > Ages : 6 to 9 years</li>
																	<li >Date: December 1, 2013</li>
																	<li>Time: 10 am to 1 pm</li>

																	</ul> </p>
																		<div class="cleaner"></div></br>
		      
		  <h2> <i><b>Ongoing Workshops for kids</i></b></h2>

            <h4> <a href="/pages/light"> De'Light - Science workshop </a> </h4>
		  	<h4> <a href="/pages/programming"> Introduction to programming (Level 1)</a> </h4>
		    <h4> <a href="/pages/funtronics">Fun'Tronics'</a></h4> 
		
		
		
		          		</div>   
						<div class="cleaner"></div>

		        
			          </div>

					<div class="cleaner"></div>

			
              
          

                 



          </div>

			<div class="cleaner"></div>
            
        



</div>
</div>